[loggers]
keys=root

[handlers]
keys=stdout,file

[formatters]
keys=default

[logger_root]
level=INFO
handlers=stdout,file

[handler_stdout]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[handler_file]
class=handlers.TimedRotatingFileHandler
formatter=default
level=INFO
args=('%(log_file_name)s', 'midnight', 1, 30)

[formatter_default]
format=%(asctime)-15s %(levelname)-7s %(message)s
datefmt=
class=logging.Formatter
