SERVICE=gunicorn
APP_ENV=development
APP_DEBUG=true
DOMAIN_NAME=www.iguuu.com
BASE_URL=
SECRET_KEY=django-insecure-_
DATABASE_NAME=
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=
CACHE_BACKEND=django.core.cache.backends.dummy.DummyCache
CACHE_LOCATION=
